.row
  %br
  - 12.times do
    .small-6.medium-4.large-2.columns
      .panel
        - 6.times do
          %br

%hr

.row
  .small-3.columns
    .panel
      - 6.times do
        %br

  .small-6.columns
    .panel
      - 6.times do
        %br

  .small-3.columns
    .panel
      - 6.times do
        %br

